 <header 
    style="background-image:url('{{ site.baseurl }}img/office-612532_1920.jpg')"
    id="about">
    <div class="container" id="welcome-messages">
        <div class="intro-text">  
            <div class="intro-heading">We build custom software solutions</div>
            <div class="intro-lead-in hidden-xs">Design | Prototyping | Web | Mobile | Cloud</div>
            <div class="intro-lead-in intro-lead-in__mobile visible-xs">Design, Prototyping, Web, Mobile, Cloud</div>
            <div class="intro-lead-in hidden-xs">
                Boutique Services at Bootstrap Rates.
            </div>
            <p>
                <!-- Katharos Labs is a software development boutique specializing in translating your vision into definition, custom design, progressive web apps, mobile apps and cloud hosting. We develop services and solutions for clients in all industries, from your hot startup to enterprise organizations. We deliver our products using the proven methods of agile/scrum and the absolute latest technology, from block-chain security and decentralized data capture to Node.js. Katharos is tuned into your budget and offers very affordable rates -->
            </p>
        </div>
    </div>
</header>