  <!-- Header -->
    <header id="home">
        <div class="container" id="welcome-messages">
            
            <div class="intro-text">  
                {% for message in site.data.welcomeMessages %}    
                    <div class="fading-items" style="display:none">
                        <div class="intro-heading">{{ message.heading }}</div>
                        <div class="intro-lead-in">{{ message.sub_heading }}</div>
                    </div>
                {% endfor %}
                <a href="#contact" class="page-scroll btn btn-xl">Start a project with us</a>
            </div>
            
        </div>
    </header>

   



