
    <header 
        style="background-image:url('{{ site.baseurl }}/img/office-612532_1920.jpg')">
        <div class="container" id="welcome-messages">
            <div class="intro-text">  
                <div class="intro-heading">We build custom software solutions</div>
                <div class="intro-lead-in">Design | Prototyping | Web | Mobile | Cloud</div>
                <p>
                    Katharos Labs is a US based software development boutique specializing in translating your vision into definition, custom design, progressive web apps, mobile apps and cloud hosting. We develop services and solutions to clients in all industries, from your hot startup to enterprise organizations. We deliver our products using the proven methods of agile/scrum and the absolute latest technology, from block-chain protocol security to Node.js. Katharos is tuned into your budget and offers very affordable rates
                </p>
                <!--<a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>-->
            </div>
        </div>
    </header>