<!-- Header -->
<header id="home"
    style="background-image: url({{ site.baseurl }}img/collaboration.3.jpg);">
    <div class="container" id="">
        <div class="intro-text">  
                <div class="fading-items" >
                    <div class="intro-heading">
                        Throttling you from the Information Age into the Experience Age
                    </div>
                    <div class="intro-lead-in">&nbsp;</div>
                </div>
            <a href="{{site.baseurl}}#contact" class="page-scroll btn btn-xl">
                Engage Now
            </a>
        </div>
        
    </div>
</header>





